body{
    width: auto;
}

#header {
    text-align: center;
    padding: 20px 10%;
}

.emblem {
    height: 100px;
}

.logo {
    height: 100px;
}

.card {
    padding: 3px;
    margin: 10px 10% 10px 10%;
    text-align: center;
}

.album-art {
    margin-right: 10px;
}

.published-date {
    margin: 0 0 5px 0;
}

.artist {
    margin: 0;
}

.album-title {
   font-style: italic; 
   margin: 1px;
}

button {
    outline: none;
    background-color: orangered;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 18px;
}

